@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

:root {
    --white-color: #FFFFFF;
    --second-color: #233d2c;
    --text-color: #565656;
    --dark-color: #000000;
    --extra-color: #166527;
    --dark-green-color: #1a3724;
    --yellow-color: #efae53;
    --form-bg: #EAEAEA;
}

input::placeholder {
    font-size: 15px;
    font-weight: 400;
    font-family: 'poppins';
    padding: 0px 4px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}

.navbar-brand {
    font-size: 1.385rem;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    color: var(--extra-color);
}

.navbar-brand:hover {
    color: var(--extra-color);
}

.navbar-brand .sub-text {
    color: var(--dark-green-color);
    font-weight: 900;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    transition: 0.3s ease-in;
}

.nav-link:hover {
    color: var(--extra-color);
}

#hamburger-btn i {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

#hamburger-btn i:hover {
    color: var(--extra-color) !important;
}

#mobile-nav ul {
    list-style: none;
    padding: 0;
}

#mobile-nav li {
    padding: 0.5rem 0;
}

#mobile-nav {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

#mobile-nav.show {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.user-icon-wrapper {
    width: 45px;
    height: 45px;
    background-color: #f1fafa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #444;
    padding: 30px auto;
}

.user-icon-wrapper i {
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
}

/* === home section === */

.home-section {
    width: 100%;
}

.hero-section {
    background: linear-gradient(to right, #272727c3, transparent), url('../Assets/Bg/Herosection.png');
    background-repeat: no-repeat;
    background-size: fill;
    color: var(--white-color);
    padding: 60px 0;
    position: relative;
}

.heading {
    font-size: 3rem;
    font-weight: 800;
    line-height: 56px;
    font-family: 'Source Serif';
    color: var(--white-color);
}

.heading .highlight {
    color: var(--yellow-color);
}

.paratext {
    font-size: 0.92rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'poppins', sans-serif;
}

.rating-box img {
    width: 40px;
    height: 40px;
    object-fit: 'contain';
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid var(--dark-color);
    cursor: pointer;
}

.highlight-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
    font-family: 'poppins', sans-serif;
}


.starBox {
    padding: 0.5rem 0.5rem;
    background-color: #1bb580;
}

.starBox i {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
}

.text-light {
    font-family: 'poppins', sans-serif;
}

/* === search box === */
.Location-container,
.Checkin-container,
.Checkout-container,
.Traveller-container {
    padding: 2px 10px;
    background: var(--form-bg);
    border: none !important;
    outline: none !important;
    border-radius: 4px;
}

.Location-container i,
.Checkin-container i,
.Checkout-container i,
.Traveller-container i {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.location-box,
.checkinbox,
.checkoutbox,
.Traveller-box {
    min-height: 45px;
    background: var(--form-bg);
    border: none;
    outline: none;
}

/* Button */
.cabins-box {
    background-color: var(--second-color);
    color: var(--white-color);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.cabins-box:hover {
    background-color: var(--yellow-color);
    cursor: pointer;
}

.product-section {
    padding: 50px 0px;
}

.link-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'poppins';
    color: var(--dark-color);
}

.content-section {
    position: relative;
}

.subheading {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Source Serif';
    line-height: 26px;
}

.line {
    width: 100px;
    height: 3px;
    background-color: var(--yellow-color);
    position: absolute;
    bottom: -10px;
}

.highlight-paratext {
    font-size: 15px;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    color: #d7fff1 !important;
}

.card-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    font-family: 'Source Serif';
}

/* == testimonials section == */

.testimonials {
    width: 100%;
    height: 80vh;
    background: url(../Assets/Bg/Purple_woman.png) no-repeat center center;
    background-size: cover;
    background-position: center;
}

/* === testimonials 2 section === */

.video-thumbnail {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.video-thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

.video-thumbnail .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    color: var(--white-color);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.section-title {
    font-weight: bold;
}

.learn-more {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
}

.learn-more:hover {
    color: var(--extra-color);
}

.learn-more i {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color) !important;
}

.line-2 {
    width: 100px;
    height: 3px;
    background-color: var(--yellow-color);
    /* position: absolute; */
    bottom: -10px;
}


/* === FAQ Section === */

.faq-card {
    background: var(--yellow-color);
    color: var(--white-color);
}

.faq-answer {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease, padding 0.4s ease;
  }

  .faq-card-container.active .faq-answer {
    display: block; 
    max-height: 500px; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
  }

  .toggle-icon {
    transition: transform 0.3s ease;
  }

  .toggle-icon.rotated {
    transform: rotate(90deg);
  }

/* === Subfooter section === */

.subfooter {
    background: url(../Assets/Bg/topfooter.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.getaway-btn {
    background-color: #e6fef6;
    color: var(--dark-color);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: 400;
    font-family: 'poppins';
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

/* == Footer Section == */
.footer {
    width: 100%;
    background: #0a0e0f;
}

.footerText {
    font-size: 16px;
    font-weight: 600;
    color: #d7fff1;
    font-family: 'poppins', sans-serif;
}

.list-unstyled li:hover a {
    color: var(--extra-color) !important;
    /* padding-left: 0.5rem; */
    transition: all 0.2s ease-in-out;
}

.footer .btn-subscribe {
    background-color: var(--yellow-color);
    font-family: 'poppins', sans-serif;
    color: #000;
    border: none;
    border-radius: 6px;
    padding: 0.9rem 1rem;
    transition: all 0.3s linear;
}

.footer .btn-subscribe:hover {
    background-color: var(--extra-color);
    color: var(--white-color);
}

.form-control {
    width: 60%;
    padding: 0.9rem 1rem;
}


.footer-logo {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--white-color);
}

.footer-logo span {
    color: #1bb580;
}

.social-icons a {
    color: #ccc;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #fff;
}